@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

body {
    background: linear-gradient(45deg, #000, #2d3436);
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    line-height: 0;
    min-height: 100vh;
}

.fs-sm {
    font-size: 0.85rem;
}

.swiper-slide {
    width: 20rem;
    border-radius: 2rem;
    overflow: hidden;
}