@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

body {
    background: #111;
    background-size: cover;
    background-position: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    line-height: 0;
    min-height: 100vh;
}

.fs-sm {
    font-size: 0.85rem;
}

.swiper-slide {
    width: 20rem;
    border-radius: 2rem;
    overflow: hidden;
}

.food {
    margin-left: -1rem;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 12px;
    }
}